@import "../Styles.view.less";

.GameScreen {
    .ResourceBar {
        text-align: left;
        position: absolute;
        padding-left: 1em;
        margin-top: .2em;


        .GoldIcon {
            display: inline-block;
            text-align: left;
            padding-left: 1em;
            padding-top: 1em;
            margin-right: .2em;
            background-image: url("../../images/coins.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
        }
        .GoldLabel {
            display: inline-block;
            padding-right: 2em;
        }
        .WoodIcon {
            display: inline-block;
            text-align: left;
            padding-left: 1em;
            padding-top: 1em;
            background-image: url("../../images/wood.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 1em;
            height: 1em;
        }
        .WoodLabel {
            display: inline-block;
        }

    }
    .Inventory {
        left: 0em;
        right: 0em;
        bottom: 0em;
        padding: @gutter / 2;
        position: absolute;
        background-color: hotpink;
        font-size: 0.66em;

        .Item {
            display: inline;

            &:not(:first-child) {
                &:before {
                    opacity: 0.5;
                    content: " | ";
                }
            }

            cursor: pointer;
            opacity: 0.5;
            &:hover,
            &[isSelected] {
                opacity: 1;
            }
        }
    }
}
