.Patch {
    width: 3em;
    height: 5.5em;
    margin-top: -5.5em;
    position: absolute;

    .Dirt {
        width: 3em;
        height: 1em;
        bottom: 0em;
        position: absolute;

        border-radius: 0.1em;
        background-color: brown;
    }
}
