@import "./Styles.view.less";

@font-face {
    font-weight: 400;
    font-family: "comfortaa";
    src: url("../fonts/comfortaa.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
}

.Frame {
    padding: 1em;

    color: @black;
    text-align: center;
    font-family: comfortaa;
    background-color: @white;

    img {
        width: 5em;
    }
}

body {
    background-color: #111;
}
